@model BTTechnologies.MedScience.MVC.Models.ChangeUserPasswordModel
@{
    ViewBag.Title = MedSiteStrings.ChangingPasswordTitle;
}

<hgroup class="title">
    <h1>@MedSiteStrings.ChangingPasswordTitle</h1>

    @Html.Partial("_OkErrorHeaderPartial", Model)
</hgroup>

<section id="centeredForm">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>@MedSiteStrings.ChangingPasswordFormTitle</legend>
        @Html.HiddenFor(m => m.Id)
        
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@MedSiteStrings.ChangePassword" />
    </fieldset>
}
</section>
