@model BTTechnologies.MedScience.MVC.Models.RegisterModel
@{
    ViewBag.Title = MedSiteStrings.Registration;
}

<hgroup class="title">
    <h1>@MedSiteStrings.Registration</h1>
</hgroup>

<section id="centeredForm">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@MedSiteStrings.RegistrationFormTitle</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <span class="labelStyle">
                    @MedSiteStrings.EnterWordToRecaptcha
                </span>
                @Html.Partial("_CaptchaView")               
            </li>
        </ol>
        <input type="submit" value="@MedSiteStrings.DoRegister" />
    </fieldset>
        
    <p>@MedSiteStrings.ForgetPasswordInfo @Html.ActionLink(MedSiteStrings.RestoaringPasswordTitle, "GetRestoreEmail")</p>
}
</section>
