@model BTTechnologies.MedScience.MVC.BTTClasses.BTTAjaxGridModel

@{
    ViewBag.Title = MedSiteStrings.AllAuthorsTitle;
}

<hgroup class="title">
    <h1>@MedSiteStrings.AllAuthorsTitle</h1>
</hgroup>

@using (Html.BeginForm("AuthorsGrid", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span><button>@MedSiteStrings.AddNewAuthor</button></span>
}

@Html.Partial("_BTTAjaxGrid", Model)

@section scripts {
    @Scripts.Render("~/bundles/BTTAjaxGrid")
    
    <script type="text/javascript">
        GetGridData("@Model.TableName");
    </script>
}