@model BTTechnologies.MedScience.MVC.BTTClasses.BTTAjaxGridModel

@{
    ViewBag.Title = MedSiteStrings.ContentTiles;
}

<hgroup class="title">
    <h1>@MedSiteStrings.ContentTiles</h1>
</hgroup>

@using (Html.BeginForm("AddPageTile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span><button>@MedSiteStrings.AddNewPageTile</button></span>
}

@Html.Partial("_BTTAjaxGrid", Model)

@section scripts {
    @Scripts.Render("~/bundles/BTTAjaxGrid")

    <script type="text/javascript">
        GetGridData("@Model.TableName");
    </script>
}
